* text=auto !eol
texhyphj/.classpath -text
texhyphj/.project -text
texhyphj/.settings/org.eclipse.jdt.core.prefs -text
texhyphj/ant-build/resources/etc/hyphen/dehypha.tex -text
texhyphj/ant-build/resources/etc/hyphen/dehyphx.tex -text
texhyphj/ant-build/resources/etc/hyphen/hyphen.tex -text
texhyphj/ant-build/resources/etc/hyphen/koicodes.txt -text
texhyphj/ant-build/resources/etc/hyphen/ruhyphal.tex -text
texhyphj/ant-build/resources/javase-6/package-list -text
texhyphj/build-doc.xml -text
texhyphj/build-properties.xml -text
texhyphj/build.xml -text
texhyphj/doc/INSTALL -text
texhyphj/doc/LICENSE -text
texhyphj/doc/README -text
texhyphj/lib/junit-4.7.jar -text
texhyphj/run-tests.xml -text
texhyphj/src/net/davidashen/text/ByteScanner.java -text
texhyphj/src/net/davidashen/text/Hyphenator.java -text
texhyphj/src/net/davidashen/text/HyphenatorUI.java -text
texhyphj/src/net/davidashen/text/Scanner.java -text
texhyphj/src/net/davidashen/util/Applicator.java -text
texhyphj/src/net/davidashen/util/ErrorHandler.java -text
texhyphj/src/net/davidashen/util/Hashtable.java -text
texhyphj/src/net/davidashen/util/List.java -text
